.about-us-body {
  background: rgb(0, 0, 0);
  padding: 30px;
  position: relative;
}

.center-text-para {
  position: relative;
  color: rgba(222, 222, 222);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vh;
  font-weight: bold;
  text-align: justify;
  padding: 50px;
}
.center-text-about-us {
  color: rgba(222, 222, 222);
  /* position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%); */
  text-align: left;
  padding-left: 200px;
  font-size: 10vh;
  font-weight: bold;
  text-shadow: 5px 2px rgb(248, 150, 2);
  z-index: 3;
}
