.navigation-bar-with-logo {
  position: absolute;
  z-index: 10;
  width: auto;
}

.nav-header {
  background: none;
  font-weight: bold;
}

.navigation-bar-with-logo-op2 {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100px;
}

.nav-header-op2 {
  background: transparent;
  font-weight: bold;
}

#nav-hover {
  color: var(--filler-color-2);
  /* transition: 0.5s; */
}

#nav-hover:hover {
  /* color: var(--secondary-color); */
  transition: 0.5s;
}

#nav-hover::after {
  content: "";
  width: 0%;
  height: 10%;
  background: goldenrod;
  display: block;
  margin: auto;
  transition: 0.5s;
}

#nav-hover:hover::after {
  width: 100%;
}
