.body-section4 {
  background: url("../assets/flintstones-images/Section-4.jpg");
  height: 30vh;
  background-size: cover;
  background-attachment: fixed;
  top: 0px;
  padding: 10%;
}
.center-text-card {
  position: relative;
  color: rgb(222, 222, 222);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  font-weight: bold;
  border: goldenrod;
  border-width: 4px;
  border-style: solid;
  margin-right: 60%;
  text-shadow: 6px 4px black;
  background: rgb(0, 0, 0, 0.3);
}
