.about-slide1{
    /* background-color: aqua; */
    /* background-color: var(--filler-color-1); */
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: auto;
    text-align: justify;
    line-height: normal;
    overflow: hidden; 
    color: var(--filler-color-3);
}

.about-slide-heading-section{
    color: var(--primary-color);
    /* color: black; */
    text-align: left;
    font-weight: bold;
    font-size: xxx-large;
    padding-bottom: 7%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-slide-heading-section:hover{
    color: var(--secondary-color);
    transition: 1s;
}

.about-slide-heading-section::after {
    content: "";
    width: 0%;
    height: 5px;
    background: var(--primary-color);
    display: block;
    /* margin: auto; */
    transition: 0.5s;
}

.about-slide-heading-section:hover::after {
    content: "";
    width: 80%;
}

.about-slide-text-section{
    /* background-color: blue; */
    width: 90%;
    margin: auto;
    height: 100%;
    /* padding: 5%;
    display: flex;
    align-items: center; */
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    text-align: justify;
    font-size: 2.3vh;
    /* font-size: medium; */
}
  
.about-slide-image-section{
    /* background-color: green; */
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 0%;
    display: flex;
    align-items: center;
}

#about-page-image-1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* filter: grayscale(100%); */
    /* box-shadow:5px 5px 0px 0px var(--filler-color-3); */
    /* border-radius: 5%; */
}

/* #about-page-image-1:hover {
    filter: grayscale(0%);
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    transition: 0.5s;
} */

#about-learn-more-button{
    background-color: var(--filler-color-2);
    /* color: var(--filler-color-2);
    font-weight: bold; */
    border: 0;
    /* border-radius: 30px; */
    /* border-radius: 5vh; */
    border-radius: 0;
    font-size: 2.3vh;
    transition: 1s;
}

/* #about-learn-more-button:hover{
    border-radius: 0;
    transition: 1s;
} */

/* ***************** Imported ************************* */

.about-slide-heading-section-op2 {
    text-decoration: none;
    color: var(--filler-color-2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: auto;
    /* padding: 15px 40px; */
    padding: 2.1vh 4.7vh ;
    transition: all 0.2s ease;
    padding-bottom: 0%;
    /* word-break: break-all; */
    text-align: left;
}

.about-slide-heading-section-op2:hover {
    text-decoration: none;
    color: var(--filler-color-2); 
}

.about-slide-heading-section-op2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 5vh;
    /* background: rgba(255, 171, 157, 0.5); */
    background: var(--filler-color-1);
    border: 0.5vh solid var(--primary-color);
    /* 90px, 90px */
    width: 10vh; 
    height: 10vh;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.about-slide-heading-section-op2 span {
    font-weight: bold;
    font-size: 4.5vh;
    /* font-size: xxx-large; */
    position: relative;
    /* font-size: 16px; */
    /* line-height: 18px; */
    /* font-weight: 900; */
    /* letter-spacing: 0.25em; */
    /* text-transform: uppercase; */
    vertical-align: middle;
    word-wrap: break-word;
}

/* .products-section .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
} */

.about-slide-heading-section-op2:hover:before {
    /* width: 100%; */
    /* background: #ffab9d; */
    background: var(--primary-color);
    border: 0vh solid var(--secondary-color);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

/* .products-section .cta:hover svg {
    transform: translateX(0);
} */

.about-slide-heading-section-op2:active {
    /* transform: scale(0.96); */
    /* transform: scale(1.01); */
}