.bottom-setction-landing{
  margin: 0;
  padding: 0;
  background-color: var(--filler-color-1);
  font-size: 2.3vh;
}

.contact {
  background-color: var(--filler-color-1);
  padding-left: 10%;
  padding-right: 10%;
  /* padding-top: 2%; */
  /* padding-bottom: 1%; */
  /* padding: 5%; */
  /* max-height: 100vh; */
  margin-bottom: -3%;
}

.get-in-touch {
  font-size: 4.5vh;
  margin-bottom: 3vh;
}

.contact h1{
  text-align: left;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact button{
  color: var(--filler-color-1);
  background-color: var(--filler-color-9);
  border: 0.3vh solid var(--filler-color-9);
  font-size: 2.3vh;
  margin-top: 1vh;
  transition: 1s;
}

.contact button:hover{
  border: 0.3vh solid var(--filler-color-8);
  background-color: var(--filler-color-8);
  /* transition: 0.5s; */
}

.contact button:focus{
  background-color: var(--filler-color-9);
  /* transition: 0.5s; */
}

.google-map-code{
  border-radius: 1%;
  overflow: hidden;
  width: 100%; 
  min-height: 50vh;
  height: 100%;
  /* padding-left: 5%; */
  /* padding-top: 10%; */
}

.contact-form{
  text-align: left;
  font-size: 2.3vh;
  color: var(--filler-color-2);
  font-weight: bold;
  /* background-color: var(--filler-color-7); */
  padding: 5%;
  padding-bottom: 0%;
  padding-top: 2%;
  border-radius: 1%;
  /* border: 0.3vh solid var(--secondary-color); */
}

#small-form-control-box {
  height: 7vh;
  font-size: 2.3vh;
  /* border: 0.3vh solid var(--filler-color-3); */
  background-color: var(--filler-color-7);
}

#small-form-control-box-bg {
  height: 14vh;
  font-size: 2.3vh;
  /* border: 0.3vh solid var(--filler-color-3); */
  background-color: var(--filler-color-7);
}

/* .form-control {
  height: 50px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border-color: goldenrod;
  border-width: 0px;
} */

.form-control:not(active){
  color: var(--filler-color-2);
  background-color: var(--filler-color-1);
  border: 0;
}

/* .form-control:focus{
  color: black;
  background-color: rgba(182,166,142,255);
} */

/* .contact-information{
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  color: goldenrod;
  font-size: 18px;
  line-height: 6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* .table {
  background-color: black;
  border-bottom: 1px solid #ddd;
} */

.feedback-form-submit-button:hover{
  background-color: #29aafe;
}

#contact-spacer-bottom{
  margin-bottom: 7%;
}

.Landing-footer-text{
  text-align: left;
  color: var(--filler-color-2);
}

/***************************************** Imported CSS for Footer ******************************/

.site-footer
{
  background-color: var(--filler-color-7);
  /* margin-top: -1%; */
  padding: 0;
  /* padding:45px 0 20px; */
  /* font-size:15px; */
  /* line-height:24px; */
  /* color:#878787; */
  color: var(--secondary-color);
  word-break: break-all;
}

.site-footer hr
{
  border-top-color: var(--tertiary-color);
  opacity:1;
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  text-align: left;
  color: var(--tertiary-color);
  font-size:larger;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: var(--filler-color-3);
}
.site-footer a:hover
{
  color: var(--tertiary-color);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  color: var(--filler-color-2);
  text-align: left;
}
.footer-links li
{
  display:block
} 
.footer-links a
{
  color: var(--filler-color-2)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: var(--tertiary-color);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width: 6vh;
  height: 6vh;
  line-height: 6vh;
  margin-left: 1vh;
  margin-right:0;
  border-radius:100%;
  background-color: var(--filler-color-4);
}
.copyright-text a{
  color: var(--tertiary-color);
  text-decoration: none;
}

.copyright-text
{
  margin:0;
  font-size: 2.3vh;
  text-align: left;
  color: var(--filler-color-4);
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}