.recent-project {
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
}

.recent-project .about-slide-heading-section-op2 {
    /* width: 40%; */
    text-align: left;
}

.recent-project-grid {
    /* padding-bottom: 5%; */
}

/* .recent-project-row {
    padding-bottom: 5%;
} */

.recent-project-col {
    padding-bottom: 1%;
}

.recent-project-image-container {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 7%;
}

.recent-project-image-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-project-text {
    text-align: center;
}

.recent-project-text .project-name {
    font-size: 3.5vh;
    padding-bottom: 3%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recent-project-text .project-details {
    font-size: 2.3vh;
    color: var(--filler-color-3);
    /* text-align: justify; */
    /* font-family: 'Times New Roman', Times, serif; */
}