.background-video {
  position: relative;
  padding: none;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: linear-gradient(var(--primary-color) 70%, var(--filler-color-1));
}

.background-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* display: block; */
}

.text-in-video {
  position: absolute;
  color: var(--filler-color-1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-in-video p{
  text-align: center;
}

.background-video h1 {
  font-size: 84px;
}

#browse-products-button{
  background-color: var(--primary-color);
  border: 0;
  border-radius: 30px;
}

#browse-products-button:hover{
  background-color: var(--primary-color);
  -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}