.products-section {
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    background-color: var(--filler-color-1);
}

.products-grid-layout {
    width: 80%;
    max-width: 2000px;
    height: 100%;
    margin:auto;
    background-color: var(--filler-color-1);
}

.products-grid-layout .product-grid-element { 
    padding: 15px;
    background-color: var(--filler-color-1);
    height: 100%;
    /* filter: grayscale(100%); */
}

/* .products-grid-layout .product-grid-element:hover {
    filter: grayscale(0%);
    transition: 1s;
} */

.product-grid-element video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* display: block; */
}

.product-grid-element .product-grid-moodboard img{
    height: 60vh;
    border-radius: 50px;
    padding-bottom: 1%;
    object-fit: cover;
}

.product-grid-element .carousel img{
    width: 100%; 
    height: 50vh;
    margin: auto;
    object-fit: cover;
    /* display: block; */
    /* border-radius: 50px; */
}

/* Fade glitch Fix link - https://github.com/react-bootstrap/react-bootstrap/issues/5143 */

/* .carousel { overflow: hidden; }
.carousel-item { overflow: hidden; } */
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
    position: relative;
}
.carousel-inner .active {
    opacity: 1;
}

.product-text-element {
    height: 50vh;
    width: 100%;
    background-color: white;
    border: 3px solid var(--primary-color);
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    overflow: auto;
    /* border-radius: 50px; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    text-align: justify;
    font-size: 2vh;
}

.product-text-element::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.product-text-element h1{
    /* padding-top: 5%; */
    padding-bottom: 5%;
    font-size: 5vh;
}

.products-grid-layout .about-slide-heading-section-op2 {
    margin-top: 4%;
    text-align: left;
}

.product-grid-element .product-element-catalog img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border: 3px solid var(--primary-color);
    padding: 1%;
}