.products-section {
    position: relative;
    background-color: var(--filler-color-1);
    height: 200vh;
}

.products-grid-layout {
    width: 80%;
    height: 100%;
    margin:auto;
    background-color: var(--filler-color-1);
}

.products-grid-layout .product-grid-element { 
    padding: 2%;
    background-color: var(--filler-color-1);
    height: 100%;
}

.product-grid-element .carousel img{
    width: 100%; 
    height: 50vh;
    margin: auto;
    object-fit: cover;
}

.product-text-element {
    height: 50vh;
    width: 100%;
    background-color: white;
    margin: auto;
    border: 3px solid green;
}
