.about-process-component{
    width: 100%;
    background-color: var(--filler-color-1);
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}
.about-process-component .about-process-element {
    width: 80%;
    margin: auto;
    background-color: var(--primary-color);
    padding: 5vh;
    border-radius: 5vh;
}

.about-process-node-grid img {
    position: relative;
    height: 30vh;
    width: 30vh;
    object-fit:cover;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid var(--primary-color);
    z-index: 10;
}

.about-process-node {
    position: relative;
    padding: 3%;
}

.about-process-node img{
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    z-index: 10;
}

.about-process-node img:hover {
    z-index: 10;
    background-color: var(--secondary-color);
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    cursor:pointer;
}

.about-process-node .about-process-node-numbering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    color: var(--filler-color-1);
    font-size: 10vh;
    font-weight: bold;
}

.about-process-node-text {
    position: relative;
    width: 70%;
    margin: auto;
    z-index: 11;
    /* background-color: var(--primary-color); */
    text-align: center;
    font-size: 1.5vh;
    font-weight: 400;
    color: var(--filler-color-2);
}

.about-process-node-text-heading {
    font-size: x-large;
    font-weight: 700;
    padding-bottom: 1%;
}

.about-process-element .about-slide-heading-section-op2 {
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 2%;
    text-align: left;
    color: var(--filler-color-2);
}

@media only screen and (max-width: 800px) {
    .about-process-node-grid img{
        height: 20vh;
        width: 20vh;
    }

    .about-process-element .about-slide-heading-section-op2 span{
        font-size: 7vw
    }

    .about-process-node-text{
        padding-bottom: 10%;
    }
}