.about-slide1{
    /* background-color: aqua; */
    /* background-color: var(--filler-color-1); */
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: auto;
    text-align: justify;
    line-height: normal;
    overflow: hidden; 
    color: var(--filler-color-3);
}

.about-slide-heading-section{
    color: var(--primary-color);
    /* color: black; */
    text-align: left;
    font-weight: bold;
    font-size: xxx-large;
    padding-bottom: 7%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-slide-heading-section:hover{
    color: var(--secondary-color);
    transition: 1s;
}

.about-slide-heading-section::after {
    content: "";
    width: 0%;
    height: 5px;
    background: var(--primary-color);
    display: block;
    /* margin: auto; */
    transition: 0.5s;
}

.about-slide-heading-section:hover::after {
    width: 80%;
}

.about-slide-text-section{
    /* background-color: blue; */
    width: 100%;
    margin: auto;
    min-height: 90vh;
    padding: 5%;
    display: flex;
    align-items: center;
}
  
.about-slide-image-section{
    /* background-color: green; */
    width: 100%;
    margin: auto;
    min-height: 80vh;
    padding: 5%;
    display: flex;
    align-items: center;
}

#about-page-image-1{
    height: auto;
    width: 97%;
    object-fit: cover;
    box-shadow:20px 20px 10px 0px var(--primary-color);
    /* border-radius: 5%; */
}

#about-page-image-1:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    transition: 0.5s;
}