.navigation-bar-with-logo {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.nav-header {
  background: none;
  font-weight: bold;
}

.nav-header #nav-hover{
  color: var(--filler-color-1);
  /* transition: 0.5s; */
}

.nav-header #nav-hover:hover {
  /* color: var(--secondary-color); */
  transition: 0.5s;
}

.nav-header #nav-hover::after {
  content: "";
  width: 0%;
  height: 10%;
  background: var(--primary-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-header #nav-hover:hover::after {
  width: 100%;
}
