.test1 {
    color: white;
    position: relative;
    height: 550px;
}

.test1 h1 {
    font-size: 84px;
}

.test1 .test2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}