.background-video {
    height: auto;
    max-width: 100%;
    padding: none;
    position: top;
}

.video-container {
    position: relative;
    text-align: center;
    color: black;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
