.about-process-element {
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.about-process-node-grid img {
    position: relative;
    height: 40vh;
    width: 40vh;
    object-fit:cover;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid var(--primary-color);
    z-index: 10;
}

.about-process-node {
    position: relative;
    padding: 3%;
}

.about-process-node img:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    z-index: 10;
}

.about-process-node .about-process-node-numbering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    color: var(--filler-color-1);
    font-size: 10vh;
    font-weight: bold;
}

.about-process-node-text {
    position: relative;
    width: 70%;
    margin: auto;
    z-index: 11;
    /* background-color: var(--primary-color); */
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
}

.about-process-node-text-heading {
    font-size: x-large;
    padding-bottom: 1%;
}

.about-process-element .about-slide-heading-section-op2 {
    margin-left: 4%;
    margin-bottom: 0%;
    padding-bottom: 2%;
    text-align: left;
}
